/* style.css */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  justify-content: center;
}

.chat-container {
  width: 800px;
  height: 70vh;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.message-historique {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  max-width: 70%;
}

.message.user {
  background-color: #ffecb3;
  align-self: flex-end;
  justify-content: flex-end;
  margin-left: auto;
  flex-direction: row-reverse;
}

.message.user .message-content {
  text-align: right;
}

.message.bot {
  background-color: #e0f7fa;
  align-self: flex-start;
}

.message-content {
  flex-grow: 1;
  word-wrap: break-word;
}

.bot-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.timestamp {
  font-size: 0.75em;
  color: #888;
  position: absolute;
  bottom: 5px;
}

.message.user .timestamp {
  left: 10px;
  right: auto;
}

.message.bot .timestamp {
  right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.bot-selection {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 20px 0;
}

.bot-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, border-color 0.3s;
}

.bot-option img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid transparent;
}

.bot-option p {
  margin: 0;
}

.bot-option:hover {
  transform: scale(1.1);
}

.bot-option.selected img {
  border-color: red;
}

#send-button, #clean-button {
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

#send-button {
  background-color: #28a745;
}

#clean-button {
  background-color: #dc3545;
}

#send-button i, #clean-button i {
  font-size: 1.5em;
}
